* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 71);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

h3 {
    margin: .5rem;
    margin-left: 3rem;
}

#btn {
    margin-bottom: .5rem;
    padding: .4rem 1rem;
}

.card {
    margin: 20px;
    border: 1px solid white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: flex-start;
}

#card2 {
    display: none;
}