@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
.my-font{
    font-family: 'Alkatra', cursive;
}
.text-center{
    text-align: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}
.margin-2{
    margin: 5px;
}
.border{
    border: 1px solid red;
}
.scrollbar-hidden::-webkit-scrollbar{
    display: none;
    width: 0 !important
}